

.toolbar {
  border:1px inset black;
  height:100%;
  a {
    display: block;
    padding: .25em 0 .25em 0;

  }
}


.htmlEditor {
  textarea {
    //height: 100%;
    //width: 100%;
  }
}

.mce-tinymce {
  //position: absolute;
  //bottom: .1em;
  //height: 100%;

  .mce-edit-area {
    //height: 25em;
  }

}
