
<fieldset id="bookshelf" class="outerContainer">
  <legend>Actions</legend>

  <div class="buttonset">
    <button id="btnCreateNotebook" (click)="btnCreateNotebookClick()">Create Notebook</button>
  </div>
  <br/>

  <div *ngIf="createMode">
    <form class="addNotebook" (ngSubmit)="createNotebook()">
      <fieldset>
        <label for="name">Name:</label> <input type="text" [(ngModel)]="notebookModel.title" /> <br/>
        <label for="name">Description:</label> <input type="text" [(ngModel)]="notebookModel.description" /> <br/>
        <label for="name">Path:</label> <input type="text" [(ngModel)]="notebookModel.path" /> <br/>
        <button type="submit">Create</button>
        <button type="restart">Clear</button>

        <p>{{notebookModel.title}}</p>
      </fieldset>
    </form>
  </div>
</fieldset>

<table id="notebookTable" >
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Path</th>
  </tr>
  <tr *ngFor="let nb of notebooks | async" >
    <td>{{nb.title}}</td>
    <td>{{nb.description}}</td>
    <td>{{nb.path}}</td>
  </tr>
</table>
